<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />

    <alias alias="AuditLoggingAroundAdvice" type="SSH.Core.Aspect.AuditLoggingAroundAdvice, SSH.Core" />

    <!-- Start RequestInfo context type alias -->
    <alias alias="ISSHRequestInfo" type="SSH.Core.Infrastructure.ISSHRequestInfo, SSH.Core" />
    <alias alias="RequestInfo" type="SSH.API.Infrastructure.RequestInfo, SSH.API" />
    <!-- End RequestInfo context type alias -->

    <alias alias="ApplicationUserStore" type="SSH.Core.Infrastructure.ApplicationUserStore, SSH.Core" />
    <alias alias="ApplicationUserManager" type="SSH.Core.Infrastructure.ApplicationUserManager, SSH.Core"/>

    <alias alias="ApplicationRoleManager" type="SSH.Core.Infrastructure.ApplicationRoleManager, SSH.Core" />
    <alias alias="ApplicationRoleStore" type="SSH.Core.Infrastructure.ApplicationRoleStore, SSH.Core"/>

    <alias alias="IExceptionHelper" type="SSH.Core.Infrastructure.IExceptionHelper, SSH.Core" />
    <alias alias="ExceptionHelper" type="SSH.API.Infrastructure.ExceptionHelper, SSH.API"/>

    <alias alias="IHangfireIntegeration" type="SSH.Core.Infrastructure.IHangfireIntegeration, SSH.Core" />
    <alias alias="HangfireIntegeration" type="SSH.API.Infrastructure.HangfireIntegeration, SSH.API"/>

    <!-- Start User-defined type alias for UnitOfWork -->
    <alias alias="ISSHUnitOfWork" type="SSH.Core.IRepository.ISSHUnitOfWork, SSH.Core" />
    <alias alias="UnitOfWork" type="SSH.Repository.UnitOfWork, SSH.Repository" />
    <!-- End User-defined type alias for UnitOfWork -->


    <!-- Start User-defined type aliases for Repositories -->
    <alias alias="IAuditRepository" type="SSH.Core.IRepository.IAuditRepository, SSH.Core" />
    <alias alias="AuditRepository" type="SSH.Repository.AuditRepository, SSH.Repository" />

    <alias alias="IUserRepository" type="SSH.Core.IRepository.IUserRepository, SSH.Core" />
    <alias alias="UserRepository" type="SSH.Repository.UserRepository, SSH.Repository" />

    <alias alias="IEmailNotificationRepository" type="SSH.Core.IRepository.IEmailNotificationRepository, SSH.Core" />
    <alias alias="EmailNotificationRepository" type="SSH.Repository.EmailNotificationRepository, SSH.Repository" />

    <alias alias="IOTPRepository" type="SSH.Core.IRepository.IOTPRepository, SSH.Core" />
    <alias alias="OTPRepository" type="SSH.Repository.OTPRepository, SSH.Repository" />

    <alias alias="IPushNotificationRepository" type="SSH.Core.IRepository.IPushNotificationRepository, SSH.Core" />
    <alias alias="PushNotificationRepository" type="SSH.Repository.PushNotificationRepository, SSH.Repository" />

    <alias alias="ILOVRepository" type="SSH.Core.IRepository.ILOVRepository, SSH.Core" />
    <alias alias="LOVRepository" type="SSH.Repository.LOVRepository, SSH.Repository" />

    <alias alias="IUserRolePermissionRepository" type="SSH.Core.IRepository.IUserRolePermissionRepository, SSH.Core" />
    <alias alias="UserRolePermissionRepository" type="SSH.Repository.UserRolePermissionRepository, SSH.Repository" />

    <alias alias="IRoleRepository" type="SSH.Core.IRepository.IRoleRepository, SSH.Core" />
    <alias alias="RoleRepository" type="SSH.Repository.RoleRepository, SSH.Repository" />

    <alias alias="IPermissionRepository" type="SSH.Core.IRepository.IPermissionRepository, SSH.Core" />
    <alias alias="PermissionRepository" type="SSH.Repository.PermissionRepository, SSH.Repository" />

    <alias alias="IUserSessionRepository" type="SSH.Core.IRepository.IUserSessionRepository, SSH.Core" />
    <alias alias="UserSessionRepository" type="SSH.Repository.UserSessionRepository, SSH.Repository" />

    <alias alias="IPatientRepository" type="SSH.Core.IRepository.IPatientRepository, SSH.Core" />
    <alias alias="PatientRepository" type="SSH.Repository.PatientRepository, SSH.Repository" />
    
    <alias alias="IAppointmentRepository" type="SSH.Core.IRepository.IAppointmentRepository, SSH.Core" />
    <alias alias="AppointmentRepository" type="SSH.Repository.AppointmentRepository, SSH.Repository" />
    
    <alias alias="IConsultancyTimingRepository" type="SSH.Core.IRepository.IConsultancyTimingRepository, SSH.Core" />
    <alias alias="ConsultancyTimingRepository" type="SSH.Repository.ConsultancyTimingRepository, SSH.Repository" />
    
    <alias alias="IDoctorRepository" type="SSH.Core.IRepository.IDoctorRepository, SSH.Core" />
    <alias alias="DoctorRepository" type="SSH.Repository.DoctorRepository, SSH.Repository" />
    
    <alias alias="IDoctorCategoryRepository" type="SSH.Core.IRepository.IDoctorCategoryRepository, SSH.Core" />
    <alias alias="DoctorCategoryRepository" type="SSH.Repository.DoctorCategoryRepository, SSH.Repository" />
    
    <alias alias="IDoctorOPDRepository" type="SSH.Core.IRepository.IDoctorOPDRepository, SSH.Core" />
    <alias alias="DoctorOPDRepository" type="SSH.Repository.DoctorOPDRepository, SSH.Repository" />

    <alias alias="IDoctorOpdDateRepository" type="SSH.Core.IRepository.IDoctorOpdDateRepository, SSH.Core" />
    <alias alias="DoctorOpdDateRepository" type="SSH.Repository.DoctorOpdDateRepository, SSH.Repository" />
    
    <alias alias="IOPDRepository" type="SSH.Core.IRepository.IOPDRepository, SSH.Core" />
    <alias alias="OPDRepository" type="SSH.Repository.OPDRepository, SSH.Repository" />
    
    <alias alias="IBirthRepository" type="SSH.Core.IRepository.IBirthRepository, SSH.Core" />
    <alias alias="BirthRepository" type="SSH.Repository.BirthRepository, SSH.Repository" />
    
    <alias alias="IDeathRepository" type="SSH.Core.IRepository.IDeathRepository, SSH.Core" />
    <alias alias="DeathRepository" type="SSH.Repository.DeathRepository, SSH.Repository" />
    
    <alias alias="IBuildingMaterialCategoryRepository" type="SSH.Core.IRepository.IBuildingMaterialCategoryRepository, SSH.Core" />
    <alias alias="BuildingMaterialCategoryRepository" type="SSH.Repository.BuildingMaterialCategoryRepository, SSH.Repository" />
    
    <alias alias="IBuildingMaterialRepository" type="SSH.Core.IRepository.IBuildingMaterialRepository, SSH.Core" />
    <alias alias="BuildingMaterialRepository" type="SSH.Repository.BuildingMaterialRepository, SSH.Repository" />
    
    <alias alias="IWardCategoryRepository" type="SSH.Core.IRepository.IWardCategoryRepository, SSH.Core" />
    <alias alias="WardCategoryRepository" type="SSH.Repository.WardCategoryRepository, SSH.Repository" />
    
    <alias alias="IRoomRepository" type="SSH.Core.IRepository.IRoomRepository, SSH.Core" />
    <alias alias="RoomRepository" type="SSH.Repository.RoomRepository, SSH.Repository" />
    
    <alias alias="IBedRepository" type="SSH.Core.IRepository.IBedRepository, SSH.Core" />
    <alias alias="BedRepository" type="SSH.Repository.BedRepository, SSH.Repository" />
    
    <alias alias="IBedAllocationRepository" type="SSH.Core.IRepository.IBedAllocationRepository, SSH.Core" />
    <alias alias="BedAllocationRepository" type="SSH.Repository.BedAllocationRepository, SSH.Repository" />

    <alias alias="ILabDepartmentRepository" type="SSH.Core.IRepository.ILabDepartmentRepository, SSH.Core" />
    <alias alias="LabDepartmentRepository" type="SSH.Repository.LabDepartmentRepository, SSH.Repository" />

    <alias alias="ILabDepartmentServicesRepository" type="SSH.Core.IRepository.ILabDepartmentServicesRepository, SSH.Core" />
    <alias alias="LabDepartmentServicesRepository" type="SSH.Repository.LabDepartmentServicesRepository, SSH.Repository" />

    <alias alias="IRateSheetRepository" type="SSH.Core.IRepository.IRateSheetRepository, SSH.Core" />
    <alias alias="RateSheetRepository" type="SSH.Repository.RateSheetRepository, SSH.Repository" />

    <alias alias="ILabTestingUnitRepository" type="SSH.Core.IRepository.ILabTestingUnitRepository, SSH.Core" />
    <alias alias="LabTestingUnitRepository" type="SSH.Repository.LabTestingUnitRepository, SSH.Repository" />

    <alias alias="ITestParameterRepository" type="SSH.Core.IRepository.ITestParameterRepository, SSH.Core" />
    <alias alias="TestParameterRepository" type="SSH.Repository.TestParameterRepository, SSH.Repository" />

    <alias alias="ILabTestBuilderRepository" type="SSH.Core.IRepository.ILabTestBuilderRepository, SSH.Core" />
    <alias alias="LabTestBuilderRepository" type="SSH.Repository.LabTestBuilderRepository, SSH.Repository" />

    <alias alias="ILabTestByValueRepository" type="SSH.Core.IRepository.ILabTestByValueRepository, SSH.Core" />
    <alias alias="LabTestByValueRepository" type="SSH.Repository.LabTestByValueRepository, SSH.Repository" />

    <alias alias="ILabTestByEditorRepository" type="SSH.Core.IRepository.ILabTestByEditorRepository, SSH.Core" />
    <alias alias="LabTestByEditorRepository" type="SSH.Repository.LabTestByEditorRepository, SSH.Repository" />

    <alias alias="ILabTestTemplateRepository" type="SSH.Core.IRepository.ILabTestTemplateRepository, SSH.Core" />
    <alias alias="LabTestTemplateRepository" type="SSH.Repository.LabTestTemplateRepository, SSH.Repository" />
    
    <alias alias="IOPDRegistrationRepository" type="SSH.Core.IRepository.IOPDRegistrationRepository, SSH.Core" />
    <alias alias="OPDRegistrationRepository" type="SSH.Repository.OPDRegistrationRepository, SSH.Repository" />

    <alias alias="ILabTestOrderRepository" type="SSH.Core.IRepository.ILabTestOrderRepository, SSH.Core" />
    <alias alias="LabTestOrderRepository" type="SSH.Repository.LabTestOrderRepository, SSH.Repository" />

    <alias alias="ILabTestOrderDetailRepository" type="SSH.Core.IRepository.ILabTestOrderDetailRepository, SSH.Core" />
    <alias alias="LabTestOrderDetailRepository" type="SSH.Repository.LabTestOrderDetailRepository, SSH.Repository" />

    <alias alias="ICompanyAccountLevelRepository" type="SSH.Core.IRepository.ICompanyAccountLevelRepository, SSH.Core" />
    <alias alias="CompanyAccountLevelRepository" type="SSH.Repository.CompanyAccountLevelRepository, SSH.Repository" />

    <alias alias="ICompanyAccountRepository" type="SSH.Core.IRepository.ICompanyAccountRepository, SSH.Core" />
    <alias alias="CompanyAccountRepository" type="SSH.Repository.CompanyAccountRepository, SSH.Repository" />

    <alias alias="IIncomeGroupRepository" type="SSH.Core.IRepository.IIncomeGroupRepository, SSH.Core" />
    <alias alias="IncomeGroupRepository" type="SSH.Repository.IncomeGroupRepository, SSH.Repository" />

    <alias alias="ILabInvoiceRepository" type="SSH.Core.IRepository.ILabInvoiceRepository, SSH.Core" />
    <alias alias="LabInvoiceRepository" type="SSH.Repository.LabInvoiceRepository, SSH.Repository" />

    <alias alias="ILabInvoiceDetailRepository" type="SSH.Core.IRepository.ILabInvoiceDetailRepository, SSH.Core" />
    <alias alias="LabInvoiceDetailRepository" type="SSH.Repository.LabInvoiceDetailRepository, SSH.Repository" />
    
    <alias alias="ILabSampleTypeRepository" type="SSH.Core.IRepository.ILabSampleTypeRepository, SSH.Core" />
    <alias alias="LabSampleTypeRepository" type="SSH.Repository.LabSampleTypeRepository, SSH.Repository" />

    <alias alias="ILabSampleRepository" type="SSH.Core.IRepository.ILabSampleRepository, SSH.Core" />
    <alias alias="LabSampleRepository" type="SSH.Repository.LabSampleRepository, SSH.Repository" />

    <alias alias="ILabTestSampleRepository" type="SSH.Core.IRepository.ILabTestSampleRepository, SSH.Core" />
    <alias alias="LabTestSampleRepository" type="SSH.Repository.LabTestSampleRepository, SSH.Repository" />
    
    <alias alias="IInventoryCategoryRepository" type="SSH.Core.IRepository.IInventoryCategoryRepository, SSH.Core" />
    <alias alias="InventoryCategoryRepository" type="SSH.Repository.InventoryCategoryRepository, SSH.Repository" />

    <alias alias="IInventoryItemRepository" type="SSH.Core.IRepository.IInventoryItemRepository, SSH.Core" />
    <alias alias="InventoryItemRepository" type="SSH.Repository.InventoryItemRepository, SSH.Repository" />

    <alias alias="ILabOutSourceRepository" type="SSH.Core.IRepository.ILabOutSourceRepository, SSH.Core" />
    <alias alias="LabOutSourceRepository" type="SSH.Repository.LabOutSourceRepository, SSH.Repository" />

    <alias alias="IDoctorOPDTimeSlotRepository" type="SSH.Core.IRepository.IDoctorOPDTimeSlotRepository, SSH.Core" />
    <alias alias="DoctorOPDTimeSlotRepository" type="SSH.Repository.DoctorOPDTimeSlotRepository, SSH.Repository" />
    
    <alias alias="ILabTestInventoryAllocationRepository" type="SSH.Core.IRepository.ILabTestInventoryAllocationRepository, SSH.Core" />
    <alias alias="LabTestInventoryAllocationRepository" type="SSH.Repository.LabTestInventoryAllocationRepository, SSH.Repository" />

    <alias alias="IProductCategoryRepository" type="SSH.Core.IRepository.IProductCategoryRepository, SSH.Core" />
    <alias alias="ProductCategoryRepository" type="SSH.Repository.ProductCategoryRepository, SSH.Repository" />

    <alias alias="IProductTypeRepository" type="SSH.Core.IRepository.IProductTypeRepository, SSH.Core" />
    <alias alias="ProductTypeRepository" type="SSH.Repository.ProductTypeRepository, SSH.Repository" />

    <alias alias="IProductUnitRepository" type="SSH.Core.IRepository.IProductUnitRepository, SSH.Core" />
    <alias alias="ProductUnitRepository" type="SSH.Repository.ProductUnitRepository, SSH.Repository" />

    <alias alias="IProductMeasurementUnitRepository" type="SSH.Core.IRepository.IProductMeasurementUnitRepository, SSH.Core" />
    <alias alias="ProductMeasurementUnitRepository" type="SSH.Repository.ProductMeasurementUnitRepository, SSH.Repository" />

    <alias alias="IProductChemicalRepository" type="SSH.Core.IRepository.IProductChemicalRepository, SSH.Core" />
    <alias alias="ProductChemicalRepository" type="SSH.Repository.ProductChemicalRepository, SSH.Repository" />

    <alias alias="IBrandRepository" type="SSH.Core.IRepository.IBrandRepository, SSH.Core" />
    <alias alias="BrandRepository" type="SSH.Repository.BrandRepository, SSH.Repository" />

    <alias alias="IRacksRepository" type="SSH.Core.IRepository.IRacksRepository, SSH.Core" />
    <alias alias="RacksRepository" type="SSH.Repository.RacksRepository, SSH.Repository" />

    <alias alias="ICatastrophicEventRepository" type="SSH.Core.IRepository.ICatastrophicEventRepository, SSH.Core" />
    <alias alias="CatastrophicEventRepository" type="SSH.Repository.CatastrophicEventRepository, SSH.Repository" />

    <alias alias="IAccidentAndEmergencyRepository" type="SSH.Core.IRepository.IAccidentAndEmergencyRepository, SSH.Core" />
    <alias alias="AccidentAndEmergencyRepository" type="SSH.Repository.AccidentAndEmergencyRepository, SSH.Repository" />

    <alias alias="IBroughterDetailsRepository" type="SSH.Core.IRepository.IBroughterDetailsRepository, SSH.Core" />
    <alias alias="BroughterDetailsRepository" type="SSH.Repository.BroughterDetailsRepository, SSH.Repository" />

    <alias alias="IAmbulanceDetailsRepository" type="SSH.Core.IRepository.IAmbulanceDetailsRepository, SSH.Core" />
    <alias alias="AmbulanceDetailsRepository" type="SSH.Repository.AmbulanceDetailsRepository, SSH.Repository" />
    
    <alias alias="IBuildingFloorRepository" type="SSH.Core.IRepository.IBuildingFloorRepository, SSH.Core" />
    <alias alias="BuildingFloorRepository" type="SSH.Repository.BuildingFloorRepository, SSH.Repository" />

    <alias alias="IClientGroupRepository" type="SSH.Core.IRepository.IClientGroupRepository, SSH.Core" />
    <alias alias="ClientGroupRepository" type="SSH.Repository.ClientGroupRepository, SSH.Repository" />

    <alias alias="IClientTypeRepository" type="SSH.Core.IRepository.IClientTypeRepository, SSH.Core" />
    <alias alias="ClientTypeRepository" type="SSH.Repository.ClientTypeRepository, SSH.Repository" />

    <alias alias="ICPTCategoryRepository" type="SSH.Core.IRepository.ICPTCategoryRepository, SSH.Core" />
    <alias alias="CPTCategoryRepository" type="SSH.Repository.CPTCategoryRepository, SSH.Repository" />

    <alias alias="IGroupOfCompaniesRepository" type="SSH.Core.IRepository.IGroupOfCompaniesRepository, SSH.Core" />
    <alias alias="GroupOfCompaniesRepository" type="SSH.Repository.GroupOfCompaniesRepository, SSH.Repository" />

    <alias alias="IOrganizationRepository" type="SSH.Core.IRepository.IOrganizationRepository, SSH.Core" />
    <alias alias="OrganizationRepository" type="SSH.Repository.OrganizationRepository, SSH.Repository" />

    <alias alias="ILisenceRepository" type="SSH.Core.IRepository.ILisenceRepository, SSH.Core" />
    <alias alias="LisenceRepository" type="SSH.Repository.LisenceRepository, SSH.Repository" />

    <alias alias="IAmbulanceRepository" type="SSH.Core.IRepository.IAmbulanceRepository, SSH.Core" />
    <alias alias="AmbulanceRepository" type="SSH.Repository.AmbulanceRepository, SSH.Repository" />

    <alias alias="IOrganizationalDivisionRepository" type="SSH.Core.IRepository.IOrganizationalDivisionRepository, SSH.Core" />
    <alias alias="OrganizationalDivisionRepository" type="SSH.Repository.OrganizationalDivisionRepository, SSH.Repository" />

    <alias alias="IOrganizationalDivisionDepartmentRepository" type="SSH.Core.IRepository.IOrganizationalDivisionDepartmentRepository, SSH.Core" />
    <alias alias="OrganizationalDivisionDepartmentRepository" type="SSH.Repository.OrganizationalDivisionDepartmentRepository, SSH.Repository" />

    <!-- End User-defined type aliases for Repositories -->

    <!-- Start User-defined type aliases for Services -->
    <alias alias="IAuditService" type="SSH.Core.IService.IAuditService, SSH.Core" />
    <alias alias="AuditService" type="SSH.Service.AuditService, SSH.Service" />

    <alias alias="IUserService" type="SSH.Core.IService.IUserService, SSH.Core" />
    <alias alias="UserService" type="SSH.Service.UserService, SSH.Service" />

    <alias alias="IConfigurationService" type="SSH.Core.IService.IConfigurationService, SSH.Core" />
    <alias alias="ConfigurationService" type="SSH.Service.ConfigurationService, SSH.Service" />

    <alias alias="IEmailNotificationService" type="SSH.Core.IService.IEmailNotificationService, SSH.Core" />
    <alias alias="EmailNotificationService" type="SSH.Service.EmailNotificationService, SSH.Service" />

    <alias alias="IOTPService" type="SSH.Core.IService.IOTPService, SSH.Core" />
    <alias alias="OTPService" type="SSH.Service.OTPService, SSH.Service" />

    <alias alias="IPushNotificationService" type="SSH.Core.IService.IPushNotificationService, SSH.Core" />
    <alias alias="PushNotificationService" type="SSH.Service.PushNotificationService, SSH.Service" />

    <alias alias="ILOVService" type="SSH.Core.IService.ILOVService, SSH.Core" />
    <alias alias="LOVService" type="SSH.Service.LOVService, SSH.Service" />

    <alias alias="IAuthService" type="SSH.Core.IService.IAuthService, SSH.Core" />
    <alias alias="AuthService" type="SSH.Service.AuthService, SSH.Service" />

    <alias alias="IUserRolePermissionService" type="SSH.Core.IService.IUserRolePermissionService, SSH.Core" />
    <alias alias="UserRolePermissionService" type="SSH.Service.UserRolePermissionService, SSH.Service" />

    <alias alias="IRoleService" type="SSH.Core.IService.IRoleService, SSH.Core" />
    <alias alias="RoleService" type="SSH.Service.RoleService, SSH.Service" />

    <alias alias="IPermissionService" type="SSH.Core.IService.IPermissionService, SSH.Core" />
    <alias alias="PermissionService" type="SSH.Service.PermissionService, SSH.Service" />

    <alias alias="IUserSessionService" type="SSH.Core.IService.IUserSessionService, SSH.Core" />
    <alias alias="UserSessionService" type="SSH.Service.UserSessionService, SSH.Service" />

    <alias alias="IPatientService" type="SSH.Core.IService.IPatientService, SSH.Core" />
    <alias alias="PatientService" type="SSH.Service.PatientService, SSH.Service" />
    
    <alias alias="IAppointmentService" type="SSH.Core.IService.IAppointmentService, SSH.Core" />
    <alias alias="AppointmentService" type="SSH.Service.AppointmentService, SSH.Service" />
    
    <alias alias="IConsultancyTimingService" type="SSH.Core.IService.IConsultancyTimingService, SSH.Core" />
    <alias alias="ConsultancyTimingService" type="SSH.Service.ConsultancyTimingService, SSH.Service" />
    
    <alias alias="IDoctorService" type="SSH.Core.IService.IDoctorService, SSH.Core" />
    <alias alias="DoctorService" type="SSH.Service.DoctorService, SSH.Service" />
    
    <alias alias="IDoctorCategoryService" type="SSH.Core.IService.IDoctorCategoryService, SSH.Core" />
    <alias alias="DoctorCategoryService" type="SSH.Service.DoctorCategoryService, SSH.Service" />
    
    <alias alias="IDoctorOPDService" type="SSH.Core.IService.IDoctorOPDService, SSH.Core" />
    <alias alias="DoctorOPDService" type="SSH.Service.DoctorOPDService, SSH.Service" />

    <alias alias="IDoctorOpdDateService" type="SSH.Core.IService.IDoctorOpdDateService, SSH.Core" />
    <alias alias="DoctorOpdDateService" type="SSH.Service.DoctorOpdDateService, SSH.Service" />
    
    <alias alias="IOPDService" type="SSH.Core.IService.IOPDService, SSH.Core" />
    <alias alias="OPDService" type="SSH.Service.OPDService, SSH.Service" />
    
    <alias alias="IBirthService" type="SSH.Core.IService.IBirthService, SSH.Core" />
    <alias alias="BirthService" type="SSH.Service.BirthService, SSH.Service" />
    
    <alias alias="IDeathService" type="SSH.Core.IService.IDeathService, SSH.Core" />
    <alias alias="DeathService" type="SSH.Service.DeathService, SSH.Service" />
    
    <alias alias="IBuildingMaterialCategoryService" type="SSH.Core.IService.IBuildingMaterialCategoryService, SSH.Core" />
    <alias alias="BuildingMaterialCategoryService" type="SSH.Service.BuildingMaterialCategoryService, SSH.Service" />
    
    <alias alias="IBuildingMaterialService" type="SSH.Core.IService.IBuildingMaterialService, SSH.Core" />
    <alias alias="BuildingMaterialService" type="SSH.Service.BuildingMaterialService, SSH.Service" />
    
    <alias alias="IWardCategoryService" type="SSH.Core.IService.IWardCategoryService, SSH.Core" />
    <alias alias="WardCategoryService" type="SSH.Service.WardCategoryService, SSH.Service" />
    
    <alias alias="IRoomService" type="SSH.Core.IService.IRoomService, SSH.Core" />
    <alias alias="RoomService" type="SSH.Service.RoomService, SSH.Service" />
    
    <alias alias="IBedService" type="SSH.Core.IService.IBedService, SSH.Core" />
    <alias alias="BedService" type="SSH.Service.BedService, SSH.Service" />
    
    <alias alias="IBedAllocationService" type="SSH.Core.IService.IBedAllocationService, SSH.Core" />
    <alias alias="BedAllocationService" type="SSH.Service.BedAllocationService, SSH.Service" />

    <alias alias="ILabDepartmentService" type="SSH.Core.IService.ILabDepartmentService, SSH.Core" />
    <alias alias="LabDepartmentService" type="SSH.Service.LabDepartmentService, SSH.Service" />

    <alias alias="ILabDepartmentServicesService" type="SSH.Core.IService.ILabDepartmentServicesService, SSH.Core" />
    <alias alias="LabDepartmentServicesService" type="SSH.Service.LabDepartmentServicesService, SSH.Service" />

    <alias alias="IRateSheetService" type="SSH.Core.IService.IRateSheetService, SSH.Core" />
    <alias alias="RateSheetService" type="SSH.Service.RateSheetService, SSH.Service" />

    <alias alias="ILabTestingUnitService" type="SSH.Core.IService.ILabTestingUnitService, SSH.Core" />
    <alias alias="LabTestingUnitService" type="SSH.Service.LabTestingUnitService, SSH.Service" />

    <alias alias="ITestParameterService" type="SSH.Core.IService.ITestParameterService, SSH.Core" />
    <alias alias="TestParameterService" type="SSH.Service.TestParameterService, SSH.Service" />

    <alias alias="ILabTestBuilderService" type="SSH.Core.IService.ILabTestBuilderService, SSH.Core" />
    <alias alias="LabTestBuilderService" type="SSH.Service.LabTestBuilderService, SSH.Service" />

    <alias alias="ILabTestByValueService" type="SSH.Core.IService.ILabTestByValueService, SSH.Core" />
    <alias alias="LabTestByValueService" type="SSH.Service.LabTestByValueService, SSH.Service" />

    <alias alias="ILabTestByEditorService" type="SSH.Core.IService.ILabTestByEditorService, SSH.Core" />
    <alias alias="LabTestByEditorService" type="SSH.Service.LabTestByEditorService, SSH.Service" />

    <alias alias="ILabTestTemplateService" type="SSH.Core.IService.ILabTestTemplateService, SSH.Core" />
    <alias alias="LabTestTemplateService" type="SSH.Service.LabTestTemplateService, SSH.Service" />

    <alias alias="IOPDRegistrationService" type="SSH.Core.IService.IOPDRegistrationService, SSH.Core" />
    <alias alias="OPDRegistrationService" type="SSH.Service.OPDRegistrationService, SSH.Service" />

    <alias alias="ILabTestOrderService" type="SSH.Core.IService.ILabTestOrderService, SSH.Core" />
    <alias alias="LabTestOrderService" type="SSH.Service.LabTestOrderService, SSH.Service" />

    <alias alias="ILabTestOrderDetailService" type="SSH.Core.IService.ILabTestOrderDetailService, SSH.Core" />
    <alias alias="LabTestOrderDetailService" type="SSH.Service.LabTestOrderDetailService, SSH.Service" />

    <alias alias="ICompanyAccountLevelService" type="SSH.Core.IService.ICompanyAccountLevelService, SSH.Core" />
    <alias alias="CompanyAccountLevelService" type="SSH.Service.CompanyAccountLevelService, SSH.Service" />

    <alias alias="ICompanyAccountService" type="SSH.Core.IService.ICompanyAccountService, SSH.Core" />
    <alias alias="CompanyAccountService" type="SSH.Service.CompanyAccountService, SSH.Service" />

    <alias alias="IIncomeGroupService" type="SSH.Core.IService.IIncomeGroupService, SSH.Core" />
    <alias alias="IncomeGroupService" type="SSH.Service.IncomeGroupService, SSH.Service" />

    <alias alias="ILabInvoiceService" type="SSH.Core.IService.ILabInvoiceService, SSH.Core" />
    <alias alias="LabInvoiceService" type="SSH.Service.LabInvoiceService, SSH.Service" />

    <alias alias="ILabInvoiceDetailService" type="SSH.Core.IService.ILabInvoiceDetailService, SSH.Core" />
    <alias alias="LabInvoiceDetailService" type="SSH.Service.LabInvoiceDetailService, SSH.Service" />

    <alias alias="ILabSampleTypeService" type="SSH.Core.IService.ILabSampleTypeService, SSH.Core" />
    <alias alias="LabSampleTypeService" type="SSH.Service.LabSampleTypeService, SSH.Service" />

    <alias alias="ILabSampleService" type="SSH.Core.IService.ILabSampleService, SSH.Core" />
    <alias alias="LabSampleService" type="SSH.Service.LabSampleService, SSH.Service" />
    
    <alias alias="ILabTestSampleService" type="SSH.Core.IService.ILabTestSampleService, SSH.Core" />
    <alias alias="LabTestSampleService" type="SSH.Service.LabTestSampleService, SSH.Service" />

    <alias alias="IInventoryCategoryService" type="SSH.Core.IService.IInventoryCategoryService, SSH.Core" />
    <alias alias="InventoryCategoryService" type="SSH.Service.InventoryCategoryService, SSH.Service" />

    <alias alias="IInventoryItemService" type="SSH.Core.IService.IInventoryItemService, SSH.Core" />
    <alias alias="InventoryItemService" type="SSH.Service.InventoryItemService, SSH.Service" />

    <alias alias="ILabOutSourceService" type="SSH.Core.IService.ILabOutSourceService, SSH.Core" />
    <alias alias="LabOutSourceService" type="SSH.Service.LabOutSourceService, SSH.Service" />

    <alias alias="IDoctorOPDTimeSlotService" type="SSH.Core.IService.IDoctorOPDTimeSlotService, SSH.Core" />
    <alias alias="DoctorOPDTimeSlotService" type="SSH.Service.DoctorOPDTimeSlotService, SSH.Service" />
    
    <alias alias="ILabTestInventoryAllocationService" type="SSH.Core.IService.ILabTestInventoryAllocationService, SSH.Core" />
    <alias alias="LabTestInventoryAllocationService" type="SSH.Service.LabTestInventoryAllocationService, SSH.Service" />

    <alias alias="IProductCategoryService" type="SSH.Core.IService.IProductCategoryService, SSH.Core" />
    <alias alias="ProductCategoryService" type="SSH.Service.ProductCategoryService, SSH.Service" />

    <alias alias="IProductTypeService" type="SSH.Core.IService.IProductTypeService, SSH.Core" />
    <alias alias="ProductTypeService" type="SSH.Service.ProductTypeService, SSH.Service" />

    <alias alias="IProductUnitService" type="SSH.Core.IService.IProductUnitService, SSH.Core" />
    <alias alias="ProductUnitService" type="SSH.Service.ProductUnitService, SSH.Service" />

    <alias alias="IProductMeasurementUnitService" type="SSH.Core.IService.IProductMeasurementUnitService, SSH.Core" />
    <alias alias="ProductMeasurementUnitService" type="SSH.Service.ProductMeasurementUnitService, SSH.Service" />

    <alias alias="IProductChemicalService" type="SSH.Core.IService.IProductChemicalService, SSH.Core" />
    <alias alias="ProductChemicalService" type="SSH.Service.ProductChemicalService, SSH.Service" />

    <alias alias="IBrandService" type="SSH.Core.IService.IBrandService, SSH.Core" />
    <alias alias="BrandService" type="SSH.Service.BrandService, SSH.Service" />

    <alias alias="IRacksService" type="SSH.Core.IService.IRacksService, SSH.Core" />
    <alias alias="RacksService" type="SSH.Service.RacksService, SSH.Service" />

    <alias alias="IBroughterDetailsService" type="SSH.Core.IService.IBroughterDetailsService, SSH.Core" />
    <alias alias="BroughterDetailsService" type="SSH.Service.BroughterDetailsService, SSH.Service" />

    <alias alias="ICatastrophicEventService" type="SSH.Core.IService.ICatastrophicEventService, SSH.Core" />
    <alias alias="CatastrophicEventService" type="SSH.Service.CatastrophicEventService, SSH.Service" />

    <alias alias="IAccidentAndEmergencyService" type="SSH.Core.IService.IAccidentAndEmergencyService, SSH.Core" />
    <alias alias="AccidentAndEmergencyService" type="SSH.Service.AccidentAndEmergencyService, SSH.Service" />

    <alias alias="IAmbulanceDetailsService" type="SSH.Core.IService.IAmbulanceDetailsService, SSH.Core" />
    <alias alias="AmbulanceDetailsService" type="SSH.Service.AmbulanceDetailsService, SSH.Service" />

    <alias alias="IBuildingFloorService" type="SSH.Core.IService.IBuildingFloorService, SSH.Core" />
    <alias alias="BuildingFloorService" type="SSH.Service.BuildingFloorService, SSH.Service" />

    <alias alias="IClientGroupService" type="SSH.Core.IService.IClientGroupService, SSH.Core" />
    <alias alias="ClientGroupService" type="SSH.Service.ClientGroupService, SSH.Service" />

    <alias alias="IClientTypeService" type="SSH.Core.IService.IClientTypeService, SSH.Core" />
    <alias alias="ClientTypeService" type="SSH.Service.ClientTypeService, SSH.Service" />

    <alias alias="ICPTCategoryService" type="SSH.Core.IService.ICPTCategoryService, SSH.Core" />
    <alias alias="CPTCategoryService" type="SSH.Service.CPTCategoryService, SSH.Service" />

    <alias alias="IGroupOfCompaniesService" type="SSH.Core.IService.IGroupOfCompaniesService, SSH.Core" />
    <alias alias="GroupOfCompaniesService" type="SSH.Service.GroupOfCompaniesService, SSH.Service" />

    <alias alias="IOrganizationService" type="SSH.Core.IService.IOrganizationService, SSH.Core" />
    <alias alias="OrganizationService" type="SSH.Service.OrganizationService, SSH.Service" />

    <alias alias="ILisenceService" type="SSH.Core.IService.ILisenceService, SSH.Core" />
    <alias alias="LisenceService" type="SSH.Service.LisenceService, SSH.Service" />

    <alias alias="IAmbulanceService" type="SSH.Core.IService.IAmbulanceService, SSH.Core" />
    <alias alias="AmbulanceService" type="SSH.Service.AmbulanceService, SSH.Service" />

    <alias alias="IOrganizationalDivisionService" type="SSH.Core.IService.IOrganizationalDivisionService, SSH.Core" />
    <alias alias="OrganizationalDivisionService" type="SSH.Service.OrganizationalDivisionService, SSH.Service" />

    <alias alias="IOrganizationalDivisionDepartmentService" type="SSH.Core.IService.IOrganizationalDivisionDepartmentService, SSH.Core" />
    <alias alias="OrganizationalDivisionDepartmentService" type="SSH.Service.OrganizationalDivisionDepartmentService, SSH.Service" />

    <!-- End User-defined type aliases for Services -->

    <container>
      <extension type="Interception" />
      <register type="ISSHRequestInfo" mapTo="RequestInfo" >
        <lifetime type="singleton"/>
      </register>
      <register type="ApplicationUserStore" mapTo="ApplicationUserStore" >
        <constructor>
          <param name="requestInfo" type="ISSHRequestInfo" />
        </constructor>
      </register>
      <register type="ApplicationRoleStore" mapTo="ApplicationRoleStore" >
        <constructor>
          <param name="requestInfo" type="ISSHRequestInfo" />
        </constructor>
      </register>

      <register type="ApplicationRoleManager" mapTo="ApplicationRoleManager" />
      <register type="ApplicationUserManager" mapTo="ApplicationUserManager" />
      <register type="IExceptionHelper" mapTo="ExceptionHelper" />
      <register type="IHangfireIntegeration" mapTo="HangfireIntegeration" />
      <register type="ISSHUnitOfWork" mapTo="UnitOfWork" />
      <register type="IAuditRepository" mapTo="AuditRepository" />
      <register type="IUserRepository" mapTo="UserRepository" />
      <register type="IEmailNotificationRepository" mapTo="EmailNotificationRepository" />
      <register type="IOTPRepository" mapTo="OTPRepository" />      
      <register type="ILOVRepository" mapTo="LOVRepository" />
      <register type="IUserRolePermissionRepository" mapTo="UserRolePermissionRepository" />
      <register type="IRoleRepository" mapTo="RoleRepository" />
      <register type="IPermissionRepository" mapTo="PermissionRepository" />
      <register type="IUserSessionRepository" mapTo="UserSessionRepository" />
      <register type="IPatientRepository" mapTo="PatientRepository" />
      <register type="IAppointmentRepository" mapTo="AppointmentRepository" />
      <register type="IConsultancyTimingRepository" mapTo="ConsultancyTimingRepository" />
      <register type="IDoctorRepository" mapTo="DoctorRepository" />
      <register type="IDoctorCategoryRepository" mapTo="DoctorCategoryRepository" />
      <register type="IDoctorOPDRepository" mapTo="DoctorOPDRepository" />
      <register type="IDoctorOpdDateRepository" mapTo="DoctorOpdDateRepository" />
      <register type="IOPDRepository" mapTo="OPDRepository" />
      <register type="IBirthRepository" mapTo="BirthRepository" />
      <register type="IDeathRepository" mapTo="DeathRepository" />
      <register type="IRoomRepository" mapTo="RoomRepository" />
      <register type="IBedRepository" mapTo="BedRepository" />
      <register type="IBedAllocationRepository" mapTo="BedAllocationRepository" />
      <register type="IOPDRegistrationRepository" mapTo="OPDRegistrationRepository" />
      <register type="IWardCategoryRepository" mapTo="WardCategoryRepository" />
      <register type="IBuildingMaterialRepository" mapTo="BuildingMaterialRepository" />
      <register type="IBuildingMaterialCategoryRepository" mapTo="BuildingMaterialCategoryRepository" />
      <register type="IPushNotificationRepository" mapTo="PushNotificationRepository" />
      <register type="ILabDepartmentRepository" mapTo="LabDepartmentRepository" />
      <register type="ILabDepartmentServicesRepository" mapTo="LabDepartmentServicesRepository" />
      <register type="IRateSheetRepository" mapTo="RateSheetRepository" />
      <register type="ILabTestingUnitRepository" mapTo="LabTestingUnitRepository" />
      <register type="ITestParameterRepository" mapTo="TestParameterRepository" />
      <register type="ILabTestBuilderRepository" mapTo="LabTestBuilderRepository" />
      <register type="ILabTestByValueRepository" mapTo="LabTestByValueRepository" />
      <register type="ILabTestByEditorRepository" mapTo="LabTestByEditorRepository" />
      <register type="ILabTestTemplateRepository" mapTo="LabTestTemplateRepository" />
      <register type="ILabTestOrderRepository" mapTo="LabTestOrderRepository" />
      <register type="ILabTestOrderDetailRepository" mapTo="LabTestOrderDetailRepository" />
      <register type="ICompanyAccountLevelRepository" mapTo="CompanyAccountLevelRepository" />
      <register type="ICompanyAccountRepository" mapTo="CompanyAccountRepository" />
      <register type="IIncomeGroupRepository" mapTo="IncomeGroupRepository" />
      <register type="ILabInvoiceRepository" mapTo="LabInvoiceRepository" />
      <register type="ILabInvoiceDetailRepository" mapTo="LabInvoiceDetailRepository" />
      <register type="ILabSampleTypeRepository" mapTo="LabSampleTypeRepository" />
      <register type="ILabSampleRepository" mapTo="LabSampleRepository" />
      <register type="ILabTestSampleRepository" mapTo="LabTestSampleRepository" />
      <register type="IInventoryCategoryRepository" mapTo="InventoryCategoryRepository" />
      <register type="IInventoryItemRepository" mapTo="InventoryItemRepository" />
      <register type="ILabOutSourceRepository" mapTo="LabOutSourceRepository" />
      <register type="IDoctorOPDTimeSlotRepository" mapTo="DoctorOPDTimeSlotRepository" />
      <register type="ILabTestInventoryAllocationRepository" mapTo="LabTestInventoryAllocationRepository" />
      <register type="IProductCategoryRepository" mapTo="ProductCategoryRepository" />
      <register type="IProductTypeRepository" mapTo="ProductTypeRepository" />
      <register type="IProductUnitRepository" mapTo="ProductUnitRepository" />
      <register type="IProductMeasurementUnitRepository" mapTo="ProductMeasurementUnitRepository" />
      <register type="IProductChemicalRepository" mapTo="ProductChemicalRepository" />
      <register type="IBrandRepository" mapTo="BrandRepository" />
      <register type="IRacksRepository" mapTo="RacksRepository" />
      <register type="ICatastrophicEventRepository" mapTo="CatastrophicEventRepository" />
      <register type="IBroughterDetailsRepository" mapTo="BroughterDetailsRepository" />
      <register type="IAccidentAndEmergencyRepository" mapTo="AccidentAndEmergencyRepository" />
      <register type="IAmbulanceDetailsRepository" mapTo="AmbulanceDetailsRepository" />
      <register type="IBuildingFloorRepository" mapTo="BuildingFloorRepository" />
      <register type="IClientGroupRepository" mapTo="ClientGroupRepository" />
      <register type="IClientTypeRepository" mapTo="ClientTypeRepository" />
      <register type="ICPTCategoryRepository" mapTo="CPTCategoryRepository" />
      <register type="IGroupOfCompaniesRepository" mapTo="GroupOfCompaniesRepository" />
      <register type="IOrganizationRepository" mapTo="OrganizationRepository" />
      <register type="ILisenceRepository" mapTo="LisenceRepository" />
      <register type="IAmbulanceRepository" mapTo="AmbulanceRepository" />
      <register type="IOrganizationalDivisionRepository" mapTo="OrganizationalDivisionRepository" />
      <register type="IOrganizationalDivisionDepartmentRepository" mapTo="OrganizationalDivisionDepartmentRepository" />
      
      <register type="IAuthService" mapTo="AuthService">
        <interceptor type="InterfaceInterceptor" />
        <interceptionBehavior type="AuditLoggingAroundAdvice" />
      </register>
      
      <register type="IAuditService" mapTo="AuditService" />
      <register type="IUserService" mapTo="UserService" />
      <register type="ILOVService" mapTo="LOVService" />
      <register type="IUserRolePermissionService" mapTo="UserRolePermissionService" />
      <register type="IRoleService" mapTo="RoleService" />
      <register type="IPermissionService" mapTo="PermissionService" />
      <register type="IUserSessionService" mapTo="UserSessionService" />
      <register type="IPatientService" mapTo="PatientService" />
      <register type="IAppointmentService" mapTo="AppointmentService" />
      <register type="IConsultancyTimingService" mapTo="ConsultancyTimingService" />
      <register type="IDoctorService" mapTo="DoctorService" />
      <register type="IDoctorCategoryService" mapTo="DoctorCategoryService" />
      <register type="IDoctorOPDService" mapTo="DoctorOPDService" />
      <register type="IDoctorOpdDateService" mapTo="DoctorOpdDateService" />
      <register type="IOPDService" mapTo="OPDService" />
      <register type="IBirthService" mapTo="BirthService" />
      <register type="IDeathService" mapTo="DeathService" />
      <register type="IRoomService" mapTo="RoomService" />
      <register type="IBedService" mapTo="BedService" />
      <register type="IBedAllocationService" mapTo="BedAllocationService" />
      <register type="IOPDRegistrationService" mapTo="OPDRegistrationService" />
      <register type="IWardCategoryService" mapTo="WardCategoryService" />
      <register type="IBuildingMaterialService" mapTo="BuildingMaterialService" />
      <register type="IBuildingMaterialCategoryService" mapTo="BuildingMaterialCategoryService" />
      <register type="IConfigurationService" mapTo="ConfigurationService" />
      <register type="IEmailNotificationService" mapTo="EmailNotificationService" />
      <register type="IOTPService" mapTo="OTPService" />
      <register type="IPushNotificationService" mapTo="PushNotificationService" />
      <register type="ILabDepartmentService" mapTo="LabDepartmentService" />
      <register type="ILabDepartmentServicesService" mapTo="LabDepartmentServicesService" />
      <register type="IRateSheetService" mapTo="RateSheetService" />
      <register type="ILabTestingUnitService" mapTo="LabTestingUnitService" />
      <register type="ITestParameterService" mapTo="TestParameterService" />
      <register type="ILabTestBuilderService" mapTo="LabTestBuilderService" />
      <register type="ILabTestByValueService" mapTo="LabTestByValueService" />
      <register type="ILabTestByEditorService" mapTo="LabTestByEditorService" />
      <register type="ILabTestTemplateService" mapTo="LabTestTemplateService" />
      <register type="ILabTestOrderService" mapTo="LabTestOrderService" />
      <register type="ILabTestOrderDetailService" mapTo="LabTestOrderDetailService" />
      <register type="ICompanyAccountLevelService" mapTo="CompanyAccountLevelService" />
      <register type="ICompanyAccountService" mapTo="CompanyAccountService" />
      <register type="IIncomeGroupService" mapTo="IncomeGroupService" />
      <register type="ILabInvoiceService" mapTo="LabInvoiceService" />
      <register type="ILabInvoiceDetailService" mapTo="LabInvoiceDetailService" />
      <register type="ILabSampleTypeService" mapTo="LabSampleTypeService" />
      <register type="ILabSampleService" mapTo="LabSampleService" />
      <register type="ILabTestSampleService" mapTo="LabTestSampleService" />
      <register type="IInventoryCategoryService" mapTo="InventoryCategoryService" />
      <register type="IInventoryItemService" mapTo="InventoryItemService" />
      <register type="ILabOutSourceService" mapTo="LabOutSourceService" />
      <register type="IDoctorOPDTimeSlotService" mapTo="DoctorOPDTimeSlotService" />
      <register type="ILabTestInventoryAllocationService" mapTo="LabTestInventoryAllocationService" />
      <register type="IProductCategoryService" mapTo="ProductCategoryService" />
      <register type="IProductTypeService" mapTo="ProductTypeService" />
      <register type="IProductUnitService" mapTo="ProductUnitService" />
      <register type="IProductMeasurementUnitService" mapTo="ProductMeasurementUnitService" />
      <register type="IProductChemicalService" mapTo="ProductChemicalService" />
      <register type="IBrandService" mapTo="BrandService" />
      <register type="IRacksService" mapTo="RacksService" />
      <register type="IBroughterDetailsService" mapTo="BroughterDetailsService" />
      <register type="ICatastrophicEventService" mapTo="CatastrophicEventService" />
      <register type="IAccidentAndEmergencyService" mapTo="AccidentAndEmergencyService" />
      <register type="IAmbulanceDetailsService" mapTo="AmbulanceDetailsService" />
      <register type="IBuildingFloorService" mapTo="BuildingFloorService" />
      <register type="IClientGroupService" mapTo="ClientGroupService" />
      <register type="IClientTypeService" mapTo="ClientTypeService" />
      <register type="ICPTCategoryService" mapTo="CPTCategoryService" />
      <register type="IGroupOfCompaniesService" mapTo="GroupOfCompaniesService" />
      <register type="IOrganizationService" mapTo="OrganizationService" />
      <register type="ILisenceService" mapTo="LisenceService" />
      <register type="IAmbulanceService" mapTo="AmbulanceService" />
      <register type="IOrganizationalDivisionService" mapTo="OrganizationalDivisionService" />
      <register type="IOrganizationalDivisionDepartmentService" mapTo="OrganizationalDivisionDepartmentService" />
      
    </container>
  </unity>
</configuration>
